.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(100, 21, 21) ;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.incredients{
    margin-top: 20px;
    font-size: 20px;
    font-style: italic;
}